version: '3.8' # Specify the version

services:
  www:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./html:/var/www/html
    ports:
      - "8096:80"
    depends_on:
      - db
    networks:
      - lamp_net

  db:
    image: mysql
    restart: always
    volumes:
      - mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
    networks:
      - lamp_net

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - "8090:80"
    depends_on:
      - db
    environment:
      - PMA_ARBITRARY=1
    networks:
      - lamp_net

volumes:
  mysql:

networks:
  lamp_net:
    driver: bridge
